# Bonus Section

## Temperature Analysis I

In [1]:
# Importing libraries

import pandas as pd
from datetime import datetime as dt
from scipy iport stats

In [2]:
hawaii_df = pd.read_csv('Resources/hawaii_measurements.csv')
hawaii_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
#Converting the date column format from string to datetime

hawaii_df.date = pd.to_datetime(hawaii_df.date, infer_datetime_format=True)

In [6]:
hawaii_df = hawaii_df.set_index(hawaii_df['date'])
hawaii_df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [7]:
# Drop the date column
hawaii_df = hawaii_df.drop(columns='date')
hawaii_df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [13]:
juneData = hawaii_df[hawaii_df.index.month == 6]
juneData.head()

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [14]:
decemberData = hawaii_df[hawaii_df.index.month == 12]
decemberData.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [15]:
juneData.mean()

prcp     0.136360
tobs    74.944118
dtype: float64

In [16]:
decemberData.mean()

prcp     0.216819
tobs    71.041529
dtype: float64

In [17]:
juneTemp = juneData.tobs
juneTemp

date
2010-06-01    78
2010-06-02    76
2010-06-03    78
2010-06-04    76
2010-06-05    77
              ..
2017-06-26    79
2017-06-27    74
2017-06-28    74
2017-06-29    76
2017-06-30    75
Name: tobs, Length: 1700, dtype: int64

In [18]:
decemberTemp = decemberData.tobs
decemberTemp

date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
              ..
2016-12-27    71
2016-12-28    71
2016-12-29    69
2016-12-30    65
2016-12-31    65
Name: tobs, Length: 1517, dtype: int64

In [19]:
stats.ttest_ind(juneTemp,decemberTemp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [ ]:
## Analysis

#### The mean temperature difference between the June and December is a mere 3.9 degrees Fahrenheit.  This is not much of a difference.  The t-test with an extremely low p-value indicates though that the difference is statistically significant.  So while the difference is meaningful, the actual difference is not thereby indicating that you can travel to Hawaii and enjoy 70 degree temperature year-round!