In [1]:
#Importing the packages needed to run analyses.
#Pandas, Numpy, Matplotlib and SQLAlchemy are regularly used packages.  If you not have one of these installed, please, open a bash terminal and type: pip.install.<package> where <package> is the package that is not installed.
# Arrow and Seaborn are lesser-used packages, so I have the program install within the environment to finalize the analysis.


try:
    import arrow
except ModuleNotFoundError:
    print("You do not have Arrow installed on your computer.  Let me do that for you.")
    !pip install arrow
    import arrow

try:
    import seaborn as sns
except ModuleNotFoundError:
    print("You do not have Seaborn installed on your computer.  Let me do that for you.")
    !pip install seaborn
    import seaborn as sns

import sqlalchemy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

%matplotlib inline
print("All necessary libraries installed")

#rom matplotlib import style#rom matplotlib import style
#style.use('fivethirtyeight')style.use('fivethirtyeight')

All necessary libraries installed

In [2]:
engine = create_engine("sqlite:///Instructions/Resources/hawaii.sqlite")
print("You engine is ready to go")

You engine is ready to go

In [3]:
Base = automap_base()
Base.prepare(engine, reflect=True)
keys = Base.classes.keys()
print(f"Here are the keys to the kingdom")
print(*keys, sep=", ")

Here are the keys to the kingdom
measurement,station

In [4]:
session = Session(engine)

In [5]:
Measurement= Base.classes.measurement
Station = Base.classes.station

In [6]:
measure_first_row = session.query(Measurement).first()
measure_first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2294e9740f0>,
 'prcp': 0.08,
 'station': 'USC00519397',
 'id': 1,
 'tobs': 65.0,
 'date': '2010-01-01'}

In [7]:
station_first_row = session.query(Station).first()
station_first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2294e974a20>,
 'elevation': 3.0,
 'latitude': 21.2716,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'longitude': -157.8168,
 'station': 'USC00519397'}

In [10]:

maxdate = session.query(func.max(Measurement.date)).scalar()
a_maxdate = arrow.get(maxdate)
startdate = a_maxdate.shift(months=-12).format('YYYY-MM-DD')

query = session.query(Measurement).filter(Measurement.date.between(startdate,maxdate)).limit(5)

In [11]:
dates = []
precip = []
for row in query:
    measurement = row
    dates.append(measurement.date)
    precip.append(measurement.prcp)

In [20]:
measurement = pd.DataFrame({"date":dates,
                             "precipitation":precip})
measurement.set_index('date')
measurement.head()

         date  precipitation
0  2016-08-23           0.00
1  2016-08-24           0.08
2  2016-08-25           0.08
3  2016-08-26           0.00
4  2016-08-27           0.00

dates